<template name = "chatWindow">

	<div class="col-md-5">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Messages</h5>
						
		</div>
				
	<div class="panel-body" id ="chats">	
	<ul class="chat">
	{{#each messages}}
	{{#if isMine}}
    <li class="left clearfix mychat">		
		<span class = "round-heading pull-left"><h1>{{avatarText}}</h1></span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font">{{user}}</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{messagetime}}</small>
            </div>
            <p>{{message}}</p>
        </div>
    </li>
	{{else}}
    <li class="left clearfix">		
		<span class = "round-heading pull-left"><h1>{{avatarText}}</h1></span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font">{{user}}</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>{{messagetime}}</small>
            </div>
            <p>{{message}}</p>
        </div>
    </li>
	{{/if}}
	{{/each}}	
	</ul>    


	</div>
	
	</div>
	<div class="panel-footer">
		<form class="form-inline">
			<textarea class="form-control" rows="3" id="mymessage"></textarea>
			<button type="submit" class="btn btn-default">Send</button>
		</form>
	</div>	
	</div>
	

	

	
</template>

<template name = "othersChat">
	
</template>