<template name = "onlineUsers">
	<div class="col-md-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Users</h5>
		</div>
				
	<div class="panel-body" id ="chats">	
	<ul class="chat">
	{{#each allusers}}
    <li class="left clearfix">
		<span class = "{{avatarStyle}} pull-left"><h1>{{avatarText}}</h1></span>
        <div class="chat-body clearfix">
            <div class="header">
                <strong class="primary-font">{{username}}</strong> <small class="pull-right text-muted">
                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
            </div>
            <p>{{profile.status}}</p>
        </div>
    </li>
	{{/each}}	
	</ul>    


	</div>
	
	</div>

	</div>
	
</template>